<app-loading-overlay></app-loading-overlay>
<app-notification></app-notification>

<app-navbar *ngIf="!esRutaAuth && !esRutaAdmin" #userNav></app-navbar>

<!-- Admin layout: sidebar + slim navbar -->
<ng-container *ngIf="esRutaAdmin">
  <app-admin-sidebar #adminSidebar></app-admin-sidebar>
  <app-navbar-admin
    #adminNav
    (toggleSidebarEvent)="onToggleSidebar()"
  ></app-navbar-admin>
</ng-container>

<div
  class="app-content"
  [class.with-user-navbar]="!esRutaAuth && !esRutaAdmin"
  [class.with-admin-sidebar]="esRutaAdmin"
  [style.paddingTop.px]="navbarOffset"
>
  <router-outlet></router-outlet>
</div>

<div [class.admin-footer-wrapper]="esRutaAdmin">
  <app-footer
    [role]="esRutaAdmin ? 'admin' : 'alumno'"
    [showLinks]="!esRutaAuth"
    [compact]="esRutaAuth"
    [version]="versionStamp"
  ></app-footer>
</div>
