<div class="reportes-wrapper container py-4">

  <!-- Barra de navegación profesional -->
  <nav class="reportes-nav d-flex flex-wrap gap-2 justify-content-center mb-4">

    <a routerLink="dashboard" routerLinkActive="active" class="nav-btn">
      Dashboard
    </a>

    <a routerLink="equipos" routerLinkActive="active" class="nav-btn">
      Equipos
    </a>

    <a routerLink="alumnos" routerLinkActive="active" class="nav-btn">
      Alumnos
    </a>

    <a routerLink="profesores" routerLinkActive="active" class="nav-btn">
      Profesores
    </a>

  

   


  </nav>

  <!-- Contenedor de los subcomponentes -->
  <router-outlet></router-outlet>

</div>
