<nav class="navbar navbar-mobile">
  <!-- LOGO -->
  <div class="nav-top">
    <span class="logo">
      Registro y Préstamo
      <small>Diseño Multimedia</small>
    </span>
  </div>

  <!-- BOTONES USUARIO NORMAL -->
  <div class="nav-actions" *ngIf="!esAdmin">

    <a
      routerLink="/equipos/catalogo"
      routerLinkActive="active"
      class="nav-btn"
    >
      <i class="bi bi-box-seam"></i>
      <span>Solicitar</span>
    </a>

    <a
      routerLink="/mis-solicitudes"
      routerLinkActive="active"
      class="nav-btn"
    >
      <i class="bi bi-clock-history"></i>
      <span>Mis solicitudes</span>
    </a>

    <a
      routerLink="/preguntas-frecuentes"
      routerLinkActive="active"
      class="nav-btn"
    >
      <i class="bi bi-question-circle"></i>
      <span>Ayuda</span>
    </a>

    <button
      type="button"
      class="nav-btn logout"
      (click)="cerrarSesion()"
    >
      <i class="bi bi-box-arrow-right"></i>
      <span>Salir</span>
    </button>

  </div>
</nav>
