<nav class="navbar">
  <div class="nav-inner">
    <div class="logo">Registro y Préstamo</div>
    <ul>
      <li>
        <a routerLink="/equipos/catalogo" routerLinkActive="active">
          Solicitar equipo
        </a>
      </li>
      <li>
        <a routerLink="/mis-solicitudes" routerLinkActive="active">
          Mis solicitudes
        </a>
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="active">
          Cerrar sesión
        </a>
      </li>
    </ul>
  </div>
</nav>
